body {
  font-family: 'Roboto', sans-serif;
}

.card {
  border: none;
}

.separatingBanner {
  background: #085038;
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  font-weight: normal;
}

.row {
  align-items: center;
  text-align: center;
}

.divider {
  height: 100px;
  padding: 20px;
}

.boxLeft p {
  font-family: 'Raleway', sans-serif;
}

.sectionTitle {
  font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

.boxImage {
  height: auto;
  width: 40%;;
}

.boxImage {
  padding-bottom: 5%;
}

.alignTop p {
  font-family: 'Raleway', sans-serif;

}

.row{
    overflow: hidden;
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}


.sectionTitle {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

.card-img-overlay {
  text-align: center;
}
