body {
  font-family: 'Roboto', sans-serif;

}

.separatingBanner {
  background: #085038;
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  font-weight: normal;
}

.row {
  align-items: center;
  text-align: center;
}

hr {
    border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    padding-top: 20%;
}

.boxImage {
  height: auto;
  width: 40%;;
}

.boxImage {
  padding-bottom: 5%;
}

.alignTop {
  align-items: baseline;
}

.row{
    overflow: hidden;
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}


.sectionTitle {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

.card-img-overlay {
  text-align: center;
}
